<div class="tweet">
	<div class="left">
		<div class="userImage"></div>
	</div>


	<div class="right">
		<div class="userDetail">
			<%= tweet.user.email %>
		</div>
		<div class="content">
			<%= tweet.content %>
		</div>
		<div class="actions"> 
		</div>
	</div>
</div>

