header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid grey;
    div.logo {
        img {
        	height: 50px;	
        }
    }

    nav {
    	ul{
    		display: flex;
    		li{
    			list-style: none;
    			margin-right: 10px;
    		}
    	}
    }
}

main {
	display: flex;
	aside{
		width: 250px;
	}

	section{
		flex-grow: 1;
		div.createTweet{
			textarea{
				width: 90%;
				padding-left: 4px;
				padding-top: 4px;
			}
		}
	}
}
